{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["name"] }}</td>
            <td>{{ stock["totalShares"] }}</td>
            <td>{{ stock["price"] }}</td>
            <td>{{ stock["totalShares"] * stock["price"] }}</td>
        </tr>
        {% endfor %}
      <tr>
        <td>CASH</td>
        <td colspan = 3></td>
        <td>{{ cash }}</td>
      </tr>
    </tbody>
    <tfoot>
        <td colspan="4"></td>
        <td> {{ cash }} </td>
    </tfoot>
  </table>

{% endblock %}